@import "../../node_modules/antd/dist/antd.css";

#app{
  background-color: white;
}

.app-header{
  z-index: 999;
  background-color: white;
  position:relative;
  top:0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;

}

.header-title{
  font-size: 10vh;
  margin-left: 3vh;
  margin-bottom: 0;
  color: black;
}
.subtitle{
  color: black;
  margin-left: 3vh;
  font-size: 4vh;
  margin-bottom: 0;
}
.subtitle-link{
  color: darkcyan;
  margin-left: 3vh;
  font-size: 4vh;
}
.map-container {
  height: 300px;
  width: 400px;
  #map {
    position: relative;
    height: 100%;
  }
}

.homepage-body{
  margin-top:10vh ;
  width: 100%;
}
.Cursor {
  visibility: hidden;
}