@import "../../node_modules/antd/dist/antd.css";


.app-header{
  z-index: 999;
  background-color: black;
  position:fixed;
  top:0;
  overflow: hidden;
  width: 100vw;
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.right-side{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}
.header-top{
  color: white;
  margin-left:20px;
}
.header-bottom{
  color: white;
}
.header-title{
  color: white;
}

.map-container {
  height: 300px;
  width: 400px;
  #map {
    position: relative;
    height: 100%;
  }
}

.homepage-body{
  margin-top:100px ;
  width: 100%;
}
